.App {
    text-align: center;
}

ul {
    padding-inline-start: 0;
}

section {
    border: 1px solid black;
    width: 80%;
    margin: 10px auto;
}

section li {
    list-style-type: none;
    margin-bottom: 10px;
}

.builderAppItem {
    cursor: pointer;
}

.builderAppItem:not(.selected):hover {
    border: 1px dashed blue !important;
}

/* Item specific styles */
.formItem, .formPlaceholderItem {
    cursor: pointer
}

.builderAppItem .paragraphItem {
    pointer-events: none;
}
